<!-- <p>list works!</p>
<p *ngFor="let item of data">
    {{item.first_name}}
    {{item.last_name}}
</p> -->
<div class="container">
    <h3 class="my-2">
        {{'ManageUsersTitle' | translate}}
    </h3>
    <div class="add-users-btn ">
        <a routerLink="/add">
            <button class="btn btn-sm btn-success mt-4">
               <i class="fa fa-plus" aria-hidden="true"></i> {{'buttonAddUser' | translate}}
            </button>
        </a>
    </div>
    <table *ngIf="!loading" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>{{'table.firstNameHeader' | translate}}</th>
            <th>{{'table.lastNameHeader' | translate}}</th>
            <th>{{'table.emailHeader' | translate}}</th>
            <th> - </th>
        </tr>
        <tr *ngFor="let user of data">
            <td>{{user.id}}</td>
            <td class="avatar"><img [src]="user.avatar" alt=""></td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td class="email"><a [href]="user.email">{{user.email}}</a></td>
            <td class="actions">
                <!-- Actions -->
                <!--  -->
                <!-- <button class="btn btn-sm border mr-2">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{'actions.updateBtn' | translate}}
                </button>
                <button class="btn btn-sm border">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {{'actions.deleteBtn'| translate}}
                </button>
             -->
             <!-- <mat-form-field appearance="outline"> -->
               <!-- <mat-label>Actions</mat-label> -->
               <mat-select class="selectAction" placeholder="Actions">
                  <mat-option>
                    <button mat-icon-button class="actionsBtn ">
                      <mat-icon>edit</mat-icon> {{'actions.updateBtn' | translate}}
                    </button>
                  </mat-option>
                  <mat-option (click)="deleteUser(user)">
                    <button mat-icon-button class="actionsBtn" >
                      <mat-icon>delete</mat-icon> {{'actions.deleteBtn' | translate}}
                    </button>
                  </mat-option>
                </mat-select>
              <!-- </mat-form-field> -->
            </td>
        </tr>
    </table>
    <div *ngIf="loading">
      <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>{{'table.firstNameHeader' | translate}}</th>
            <th>{{'table.lastNameHeader' | translate}}</th>
            <th>{{'table.emailHeader' | translate}}</th>
            <th> - </th>
        </tr>
        <tr>
          <td colspan="6" class="text-center">
              <h3>
                no data is found
              </h3>
          </td>
        </tr>
        </table>
    </div>

    <nav *ngIf="!loading" aria-label="Page navigation example pagination ">
        <ul class="pagination center">
          <li class="page-item">
            <button class="page-link" [ngClass]="{disabled:currentPage===1}" (click)="loadPreviousPage()" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
            <li *ngFor="let i of allPagesNumber()" class="page-item">
                <button class="page-link" [ngClass]="{active:currentPage===i}" (click)="navigateTo(i)" >{{i}}</button>
            </li>
          <li class="page-item">
            <button class="page-link" (click)="loadNextPage()" [ngClass]="{disabled:currentPage===totalpages}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
</div>